.table-container {
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 100%; /* ou hauteur fixe */
  display: flex;
  
  flex-direction: column;
}

.table-scroll {
  overflow-y: auto; /* scroll vertical pour tbody */
  overflow-x: auto; /* scroll horizontal si nécessaire */
  flex: 1; /* occupe tout l'espace restant */
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* colonnes fixes */
}

.table-container thead th {
  position: sticky;
  top: 0; /* reste collé en haut */
  background-color: #007bff;
  color: white;
  z-index: 2;
}

.table-container tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

.table-container tbody tr:hover {
  background-color: #d0e7ff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.table-container th,
.table-container td {
  padding: 10px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
